.intro-container{
    padding-top: 100px;
    background-color: #171717;
}
.search-intro{
    width: 1140px;
    margin: auto;
    color: #5a5a58;
    padding: 0px 50px;

}
.main-search-input{
    display: flex;
    justify-content: space-between;
    margin: 10px;
 
}
.main-search-input button{
    height: 37px;
    width: 100px;
    border-radius: 5px;
    background-color: #6ac045;
    color: white;
    font-weight: 700;
    font-size: 16px;

}
.additional-search-boxes{
    display: flex;
}
.dropdown-btn{
    height: 40px;
    width: 130px;
    padding-left: 5px;
    margin-top: 10px;
    background-color: #282828;
    color: #775f4d;
    border: transparent;
    border-radius: 5px;
    
}
.dropdown-container{
    margin: 10px;
}
.main-input{
    width: 880px;
    height: 40px;
    background-color: #282828;
    border: transparent;
    border-radius: 5px;
}
.searchterm{
    padding-left: 10px;
}

.movies-container{
    background-color: #1d1d1d;
}
.movies-wrapper{
    width: 80%;
    margin: auto;
}